[user]
	email = louis@otsuka.re
	name = louix
	signkey = 31DC4D03E936A692
	signingkey = 31DC4D03E936A692
[http]
	postBuffer = 524288000
[core]
	excludesFile = ~/.config/git/ignore
[pull]
	rebase = false
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	program = gpg2
