# Ignore Everything
*

# Whitelist
!/.scripts/
!/.scripts/**
!/.bashrc
!/.zshrc
!/.inputrc
!/.gitignore
!/.gitconfig

!/.config/
!/.config/dunst/
!/.config/dunst/**
!/.config/emacs/
!/.config/emacs/**
!/.config/flameshot.ini
!/.config/fontconfig/
!/.config/fontconfig/**
!/.config/git/
!/.config/git/**
!/.config/i3/
!/.config/i3/**
!/.config/i3status/
!/.config/i3status/**
!/.config/i3status-rust/
!/.config/i3status-rust/**
!/.config/kak/
!/.config/kak/**
!/.config/kak-lsp/
!/.config/kak-lsp/**
!/.config/konsolerc
!/.config/locale.conf
!/.config/picom/
!/.config/picom/**
!/.config/rofi/
!/.config/rofi/**
!/.config/nu/
!/.config/nu/**
!/.config/wallpaper.*

# Blacklist
/.config/kak/plugins/
/.config/emacs/eln-cache/
/.config/emacs/elpa/

**/node_modules/
**/.cache/
**/cache/
/.cargo
