# Ignore Everything
*

# Whitelist
!/.scripts/
!/.scripts/**
!/.bashrc
!/.zshrc
!/.inputrc
!/.gitignore
!/.gitconfig
!/.configuration.nix
!/.kde4/
!/.kde4/share/
!/.kde4/share/config
!/.kde4/share/config/kdeglobals
!/.kde4/share/apps/
!/.kde4/share/apps/color-schemes
!/.kde4/share/apps/color-schemes/Dark.colors

!/.config/
!/.config/dunst/
!/.config/dunst/**
!/.config/emacs/
!/.config/emacs/**
!/.config/flameshot.ini
!/.config/git/
!/.config/git/**
!/.config/i3/
!/.config/i3/**
!/.config/i3status/
!/.config/i3status/**
!/.config/i3status-rust/
!/.config/i3status-rust/**
!/.config/kak/
!/.config/kak/**
!/.config/kak-lsp/
!/.config/kak-lsp/**
!/.config/locale.conf
!/.config/picom/
!/.config/picom/**
!/.config/rofi/
!/.config/rofi/**
!/.config/rofi-pass/
!/.config/rofi-pass/**
!/.config/nu/
!/.config/nu/**
!/.config/nix/
!/.config/nix/**
!/.config/starship/
!/.config/starship/**
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.config/gtk-4.0/
!/.config/gtk-4.0/settings.ini
!/.config/wallpaper.*

# Blacklist
/.config/kak/plugins/
/.config/emacs/eln-cache/
/.config/emacs/elpa/
/.config/nixos/**.ovpn

**/node_modules/
**/.cache/
**/cache/
/.cargo
