configuration {
  font: "Iosevka 12";
  display-drun: "";
  matching: "fuzzy";
  show-icons: true;
  hide-scrollbar: true;
  separator-style: none;
  lines: 6;
  columns: 1;
  line-margin: 0;
  location: 2;
  yoffset: 50;
}
@theme "black"
